* {
	margin: 0;
	padding: 0;
	list-style: none;
}

input {
	outline: none;
}

.container {
	width: 1200px;
	margin: auto;
}

.top {
	height: 80px;
	/* text-align: center; */
}

.top ul li {
	float: left;
	line-height: 80px;
	margin-left: 40px;
	font-size: 18px;
	cursor: pointer;
}

.top ul li:hover {
	color: #DC143C;
}

.yc {
	height: 300px;
	border-top: #EEEEEE 1px solid;
	padding: 10px;
	z-index: 111;
	display: none;
}

.yc span {
	margin-left: 30px;
	float: left;
	cursor: pointer;
}

.yc span:hover {
	color: #DC143C;
}

.yc .div1 {
	float: left;
	margin-top: 50px;
	margin-left: 20px;
	text-align: center;
}

.yc img {
	height: 160px;
	width: 180px;
}

.p1 {
	margin-top: -5px;
	font-size: 15px;
}

.p2 {
	margin-top: 20px;
	font-size: 13px;
	color: #FF0000;
}

#sj {
	display: none;
}

#dn {
	display: none;
}

#pb {
	display: none;
}

#jj {
	display: none;
}

#pj {
	display: none;
}

.center {
	height: 1300px;
	background-color: #EEEEEE;
	border: 1px solid #EEEEEE;
}

.center span:hover {
	color: #DC143C;
	cursor: pointer;
}

.tittle {
	margin-top: 20px;
}

.tittle1 span {
	margin-left: 5px;
	font-size: 13px;
}

.tittle2 {
	height: 203px;
	background-color: white;
	margin-top: 30px;
}

.tittle2 div {
	border-bottom: 1px solid #EEEEEE;
	height: 50px;
	line-height: 50px;
}

.tittle2 div span {
	margin-left: 50px;
	font-size: 13px;
}

.pic {
	margin-top: 20px;
	margin-left: -10px;
}

.pic div {
	float: left;
	height: 300px;
	width: 232px;
	background-color: white;
	margin-left: 10px;
	margin-top: 10px;
	text-align: center;
	transition: 1s;
}

.pic div:hover {
	box-shadow: 0px 0px 20px #000;
	cursor: pointer;
}

.pic div img {
	height: 200px;
	width: 200px;
}

.p3 {
	font-size: 14px;
}

.p4 {
	font-size: 15px;
	color: #DC143C;
	margin-top: 0.625rem;
}

.p5 {
	font-size: 13px;
	color: #DC143C;
	margin-top: 0.625rem;
	border: 1px #DC143C solid;
	width: 60px;
	margin-left: 87px;
}

.fotter {
	height: 400px;
	background-color: #F9F9F9;
}

.fotter1 {
	height: 80px;
	border-bottom: 1px solid #A9A9A9;
}

.fotter1 p {
	float: left;
	font-size: 20px;
	/* margin-left: 155px; */
	color: #666666;
	line-height: 80px;
	margin-left: 10px;
}

.fotter1 img {
	height: 30px;
	width: 30px;
	float: left;
	margin-top: 25px;
}

.fotter .fotter1 div {
	margin-left: 120px;
	float: left;
}

.fotter2 {
	border-bottom: 1px solid #A9A9A9;
	height: 200px;
}

.fotter2 div {
	margin-top: 30px;
	font-size: 14px;
	color: #A9A9A9;
	margin-left: 70px;
	float: left;
}

.xtb {
	position: absolute;
	bottom: -505px;
	left: 368px;
}

.xtb img {
	height: 30px;
	width: 30px;
}
